In [61]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

from statsmodels.tsa.ar_model import AR

from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score,accuracy_score,mean_squared_log_error

In [62]:
data=pd.read_csv("Train_dataset(P2).csv",index_col=[0])

In [63]:
data.head()

,people_ID,2020-03-20 00:00:00,2020-03-21 00:00:00,2020-03-22 00:00:00,2020-03-23 00:00:00,2020-03-24 00:00:00,2020-03-25 00:00:00,2020-03-26 00:00:00
0,1,441,544.2,669.64,821.368,1002.2416,1215.68992,1472.627904
1,2,151,197.2,253.24,321.688,399.9256,492.91072,606.892864
2,3,416,515.2,632.44,776.728,947.7736,1150.32832,1395.793984
3,4,410,506.0,621.40,761.880,928.1560,1126.78720,1368.344640
4,5,390,483.0,595.00,730.200,892.8400,1084.40800,1315.889600

## For training the data

In [64]:
def tr(X):
    train = X
# train autoregression
    model = AR(train)
    model_fit = model.fit(trend='nc',disp=False,maxlag=5)
# make predictions
    predictions = model_fit.predict(start=len(X), end=len(X), dynamic=False)
    return predictions

In [65]:
test=data["2020-03-26 00:00:00"].T
test

0        1472.627904
1         606.892864
2        1395.793984
3        1368.344640
4        1315.889600
            ...
10709     549.466176
10710    1303.263168
10711     676.787008
10712    1204.138048
10713     686.622784
Name: 2020-03-26 00:00:00, Length: 10714, dtype: float64

In [66]:
data.T[0][1:7]

2020-03-20 00:00:00     441.00000
2020-03-21 00:00:00     544.20000
2020-03-22 00:00:00     669.64000
2020-03-23 00:00:00     821.36800
2020-03-24 00:00:00    1002.24160
2020-03-25 00:00:00    1215.68992
Name: 0, dtype: float64

## For Testing

Taking only 6 columns

In [74]:
pred=np.zeros((len(data),1))
count=0
for i in range(len(data)):
    count=count+1
    a=data.T[i][1:7].values
    a=np.reshape(a,(len(a),1))
    pred[i]=tr(a)
count

10714

In [75]:
r2_score(test,pred),(mean_absolute_error(pred,test))

(0.9990081260208303, 9.139037760230206)

In [76]:
pred

array([[1484.00926719],
       [ 616.65194608],
       [1404.84776458],
       ...,
       [ 685.26130941],
       [1212.88999062],
       [ 695.78134062]])

## Predicting the data

In [77]:
pred=np.zeros((len(data),1))
count=0
for i in range(len(data)):
    count=count+1
    a=data.T[i][1:].values
    a=np.reshape(a,(len(a),1))
    pred[i]=tr(a)
count

C:\Users\asus\MachineLearning\Covid\env\lib\site-packages\statsmodels\tsa\ar_model.py:691: FutureWarning:
statsmodels.tsa.AR has been deprecated in favor of statsmodels.tsa.AutoReg and
statsmodels.tsa.SARIMAX.

AutoReg adds the ability to specify exogenous variables, include time trends,
and add seasonal dummies. The AutoReg API differs from AR since the model is
treated as immutable, and so the entire specification including the lag
length must be specified when creating the model. This change is too
substantial to incorporate into the existing AR api. The function
ar_select_order performs lag length selection for AutoReg models.

AutoReg only estimates parameters using conditional MLE (OLS). Use SARIMAX to
estimate ARX and related models using full MLE via the Kalman Filter.

To silence this warning and continue using AR until it is removed, use:

import warnings
warnings.filterwarnings('ignore', 'statsmodels.tsa.ar_model.AR', FutureWarning)

  warnings.warn(AR_DEPRECATION_WARN, FutureWarning)

10714

In [84]:
pred=np.reshape(pred,(10714,))

In [85]:
df=pd.DataFrame({"people_ID":data["people_ID"],"Diuresis_P":pred})

In [86]:
df.head()

   people_ID   Diuresis_P
0          1  1779.689721
1          2   744.762335
2          3  1692.059691
3          4  1660.315211
4          5  1593.841214

## FInal Predicted Values of Diuresis on 27th March,2020

In [88]:
Diuresis=df
Diuresis.to_csv("Diuresis_Predictions.csv")